{% extends 'layout.html' %}

{% block title %}
    IDs
{% endblock %}

{% block content %}
    <h1> IDs </h1>
    {% for IdType in idtypes %}
        <article class = "IdType">
            <h2> {{ IdType.idType_category }} </h2>
            <p> {{ IdType.idType_number }} </p>
            <p> {{ IdType.idType_desc }} </p>
            <p> {{ IdType.idType_issdate }} </p>
            <p> {{ IdType.idType_expdate }} </p>
        </article>
    {% empty %}
            <h2> No IDs </h2>
    {% endfor %}
{% endblock %}