{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1>ABOUT THE APP</h1>
    <p>This app is designed to help users manage their identification documents in a secure and convenient manner. It allows users to store various types of IDs, such as government-issued IDs, student IDs, and more, all in one place.</p>
    <p>Users can easily add, view, and delete their IDs, ensuring that they have quick access to their important documents whenever needed.</p>
    <h2>THE DEVELOPERS</h2>
    <p>This app was developed by a team of dedicated students as part of their final project for the APPDAET course. The team members are:</p>
    <ul>
        <li>
            <p>Marc Joseph Quinagoran</p>
        </li>
        <li>
            <p>Chyna Denise Topacio</p>
        </li>
        <li>
            <p>Ernest Andre Villena</p>
        </li>
    </ul>
{% endblock %}
